
.nw-neo-wireless-sec{
	padding: 90px 0 80px;
}

.nw-neo-wireless-sec{
	position: relative;
	min-height: 475px;
}
.nw-neo-wireless-bg{
    position: absolute;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
	/*min-height: 475px;*/
}
.nw-neo-wireless-dsc h1{
	font-weight: 600;
}

.nw-neo-wireless-dsc h2{
	font-weight: 300;
	line-height: 36px;
	margin-bottom: 45px;
}

.nw-neo-wireless-dsc p{
	margin-bottom: 15px;
}





















/*nw-team-sec-wrp*/

.nw-team-sec-wrp{
    padding: 50px 0 65px;
}
.nw-team-sec-head{
	text-align: center;
	max-width: 910px;
	margin: 0 auto;
}
.nw-team-member-des h3 {
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
}
.nw-team-member-wrp {
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
}

.nw-team-grd-con > ul{
	margin-right: -11px;
	margin-left: -11px;
}
.nw-team-grd-con > ul > li::after{
	content: none;
}
.nw-team-grd-con > ul > li{
	width:25%;
	float: left;
	padding: 0 11px
}
.nw-team-grd-con > ul > li:nth-child(4n+1){
	clear: left;
}

.nw-team-member{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    min-height: 360px;
    position: relative;
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.nw-team-member:after{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #00000070;
	opacity: 0;
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.nw-team-grd:hover .nw-team-member{
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);	
	transform: scale(1.1);
}
.nw-team-grd:hover .nw-team-member:after{
	opacity: 1
}
.nw-team-member-des h3{
	font-weight: 600;
	line-height: 24px;
}
.nw-team-member-des h3 a{
	color:inherit;
}
.nw-team-member-des h3:hover a{
	color:#02BEE8;
}
.nw-team-member-des > span{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 600;
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
	color: #02BEE8;	
}
.team-cel-no{
	position: relative;
	padding-left: 31px;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
    margin-top: 40px;
}
.team-cel-no i{
	display: inline-block;
	position: absolute;
	top:0;
	left: 0;
}
.team-cel-no i{
	display: inline-block;
	position: absolute;
	top:3px;
	left: 0;
}
.team-cel-no a{
	color: inherit;
}
.team-cel-no a:hover{
	color: #02BEE8;	
}

