
.nw-neo-wireless-sec{
	padding: 100px 0 70px;
	padding: 100px 0 0;

}

.nw-neo-wireless-sec{
	position: relative;
}
.nw-neo-wireless-bg-wrp{
	position: relative;
	margin-right: 110px;
}
.nw-neo-wireless-bg{
    position: absolute;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.nw-neo-wireless-dsc{
	padding: 3px 0 7px
}
.nw-neo-wireless-dsc h1{
	font-weight: 600;
	color: #43587B;
}

.nw-neo-wireless-dsc strong{
	display: inline-block;
    vertical-align: baseline;
	font-size:30px;
	font-weight: 300;
	line-height: 36px;
	margin-bottom: 15px;
}
.nw-neo-wireless-dsc span {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 15px;
}
.nw-neo-wireless-dsc span i:nth-child(1){
    display: inline-block;
    vertical-align: baseline;
}
.nw-neo-wireless-dsc span i:nth-child(2){
    display: none;
    vertical-align: baseline;
}

.nw-neo-wireless-dsc p{
	margin-bottom: 15px;
}
.nw-neo-wireless-dsc-pera{
	padding-bottom: 30px;
}
.nw-neo-wireless-dsc a{
	display: inline-block;
	vertical-align: baseline;
	padding: 12px 43px;
	border: 2px solid #7B8CA8;
	box-sizing: border-box;
	border-radius: 8px;
	color:inherit;
}
.nw-neo-wireless-dsc a:hover{
	background: #7B8CA8;
	color:#fff;
}

/*nw-content-sec-wrp*/

.nw-about-content-wrp{
	margin-top: -225px;
	position: relative;
	z-index: 25;
}
.nw-about-content-sec{
	background: #f4f7f9;
	padding-bottom: 60px;
    margin-top: 75px;
}
.nw-about-content-lft{
	background: #FFFFFF;
	box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
	float: left;
	width: 50%;
	padding: 70px 60px 60px 58px;
}
.nw-about-content-rgt {
    float: right;
    width: 50%;
    padding-left: 90px;
    padding-top: 155px;
    padding-right: 10px;
}

.nw-about-content-lft h2{
	margin: 0;
	font-weight: 600;
	color: #43587B;
	line-height: 24px;
	margin-bottom: 25px;
}

.nw-about-content-lft strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 30px;
	line-height: 36px;
	font-weight: 300;
	color: #7B8CA8;
	margin-bottom: 20px;
}

.nw-about-content-lft span{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 15px;
}

.nw-about-content-lft p{
	margin-bottom: 25px;
}

.nw-about-content-lft a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #7B8CA8;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #7B8CA8;
	border-radius: 8px;
	padding: 18px 52px;
	margin-top: 15px;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.nw-about-content-lft a:hover{
	background-color: #7B8CA8;
	color: #fff
}






.nw-about-content-rgt{
    float: right;
    width: 50%;
    padding-left: 90px;
    padding-right: 10px;
}
.nw-about-content-rgt ul li{
	padding: 0
}
.nw-about-content-rgt ul li::after{
	content: none;
}
.nw-content-features {
    border-bottom: 2px solid #E1E7F0;
    position: relative;
    padding-left: 90px;
    padding-bottom: 10px;
    padding-top: 35px;
}
.nw-about-content-rgt ul li:last-child .nw-content-features {
	border-bottom: 0
}
.nw-content-features i{
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	left:0;
	top:35px;
}

.nw-content-features h3{
	font-weight: 600;
	color:#43587B;
}






/*nw-team-sec-wrp*/

.nw-team-sec-wrp{
    padding-top: 215px;
    margin-bottom: 70px;
    position: relative;
}
.nw-team-sec-wrp .container{
	position: relative;
	z-index: 32;
}
.nw-team-sec-head{
	text-align: center;
	max-width: 910px;
	margin: 0 auto;
	padding-bottom: 13px;
}
.nw-team-sec-head h3{
	font-weight: 600;
	font-size: 36px;
	margin-bottom: 16px;
	text-align: center;
	color: #43587B;
	text-transform: capitalize;
}
.nw-team-member-des h3 {
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
    color: #43587B;
}
.nw-team-member-wrp {
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
}
.nw-team-grd-con {
    padding-bottom: 70px;
    border-bottom: 3px solid #F4F7F9;
}
.nw-team-grd-con > ul{
	margin-right: -12px;
	margin-left: -12px;
}
.nw-team-grd-con > ul > li::after{
	content: none;
}
.nw-team-grd-con > ul > li{
	width:25%;
	float: left;
	padding: 0 12px;
	margin-bottom: 30px;
}
.nw-team-grd-con > ul > li:nth-child(4n+1){
	clear: left;
}

.nw-team-member{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    min-height: 360px;
    position: relative;
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.nw-team-member-des h3{
	font-weight: 600;
	line-height: 24px;
}
.nw-team-member-des h3 a{
	color: #43587B
}
.nw-team-member-des h3:hover a{
	color:#02BEE8;
}
.nw-team-member-des > span{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 600;
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
	padding-bottom: 15px;
	color: #02BEE8;	
}
.team-cel-no{
	position: relative;
	padding-left: 31px;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
    padding-top: 23px;
    color: #43587B;
    border-top: 1px solid #F4F7F9;
}
.team-cel-no i{
	display: inline-block;
	position: absolute;
	top:0;
	left: 0;
}
.team-cel-no i{
	display: inline-block;
	position: absolute;
	top:27px;
	left: 0;
}
.team-cel-no a{
	color: inherit;
}
.team-cel-no a:hover{
	color: #02BEE8;	
}

.team-cel-no i svg{
	fill: #43587B!important;
}







@media(max-width: 1199px){
	.nw-neo-wireless-bg-wrp {
	    margin-right: 60px;
	}
	.team-cel-no {
	    position: relative;
	    padding-left: 25px;
	    font-weight: 300;
	    font-size: 13px;
    	padding-top: 23px;
	}
	.nw-about-content-rgt {
	    float: right;
	    width: 50%;
	    padding-left: 50px;
	    padding-top: 125px;
	    padding-right: 10px;
	}
	.nw-about-content-lft {
	    padding: 40px;
	}	
}

@media(max-width: 991px){
	.nw-neo-wireless-bg-wrp {
	    margin-right: 0;
	}
	.nw-neo-wireless-sec {
	    padding: 60px 0;
	}

	.nw-team-grd-con > ul > li {
	    width: 33.333%;
	}
	.nw-team-grd-con > ul > li:nth-child(4n+1){
		clear: initial;
	}
	.nw-team-grd-con > ul > li:nth-child(3n+1){
		clear: left;
	}
	.nw-team-member {
		min-height: 285px;
	}
	.nw-about-content-lft {
	    padding: 40px 20px;
	}
	.nw-about-content-lft strong {
	    font-size: 23px;
	    line-height: 30px;
	    margin-bottom: 15px;
	}
	.nw-about-content-lft strong br{
	    display:none;
	}
	.nw-about-content-rgt {
	    padding-left: 30px;
	}

}
@media(max-width: 767px){
	.nw-neo-wireless-bg-wrp {
	    margin-bottom: 30px;
	}
	.nw-neo-wireless-bg-wrp img{
		margin:auto;
	}
	.nw-neo-wireless-dsc span i:nth-child(1){
	    display: none;
	}
	.nw-neo-wireless-dsc span i:nth-child(2){
	    display: inline-block;
	}

	.nw-team-sec-wrp {
	    padding-top: 40px;
	    margin-bottom: 30px;
	}
	.nw-team-grd-con {
	    padding-bottom: 20px;
	}
	.nw-team-grd-con > ul > li {
	    width: 50%;
	}
	.nw-team-grd-con > ul > li:nth-child(3n+1){
		clear: initial;
	}
	.nw-team-grd-con > ul > li:nth-child(2n+1){
		clear: left;
	}
	.nw-about-content-lft {
	    width: 100%;
	}
	.nw-about-content-rgt {
	    width: 100%;
	}
	.nw-about-content-rgt {
	    padding-left: 0;
	    padding-right: 0;
	    padding-top: 25px;
	}
	.nw-about-content-lft h2 {
	    margin-bottom: 20px;
	}
	.nw-about-content-sec {
	    padding-top: 0px;
	    padding-bottom: 60px;
	    margin-top: 0px;
	}
	.nw-about-content-lft strong {
	    font-size: 20px;
	    line-height: 25px;
	    margin-bottom: 15px;
	}
	.nw-team-sec-wrp .googleMapTringle {
	    border-top: 0 !important;
	}
	.team-cel-no {
	    padding-top: 15px;
	}
	.team-cel-no i {
	    top: 18px;
	}	
}

@media(max-width: 639px){
	.nw-team-member {
		min-height: 260px;
	}
}

@media(max-width: 575px){
	.nw-neo-wireless-dsc strong {
	    font-size: 25px;
	    line-height: 30px;
	    margin-bottom: 10px;
	}
}

@media(max-width: 479px){
	.nw-neo-wireless-dsc strong {
	    font-size: 23px;
	    line-height: 25px;
	    margin-bottom: 10px;
	}
	.nw-team-grd-con > ul > li {
	    width: 100%;
	}
	.nw-team-grd-con > ul > li:nth-child(2n+1){
		clear: initial;
	}
	.nw-team-grd-con > ul > li .nw-team-grd{
		margin: 0 auto;	
		max-width: 320px;
	}
	.nw-team-member-wrp {
	    margin-bottom: 12px;
	}

}

@media(max-width: 359px){

}
