
#wccart-wrapper{
	padding: 110px 0 30px;
}
#wccart-wrapper table.shop_table thead tr {
	border-bottom: 3px solid #E1E7F0;
}
#wccart-wrapper table.shop_table thead tr th{
	font-size: 20px;
	line-height: 20px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: left;
}
#wccart-wrapper .product-thumbnail a{
	display: block;
}

#wccart-wrapper .product-thumbnail a img{
	width: 100%;
}

#wccart-wrapper table.shop_table thead tr td.product-remove,
#wccart-wrapper table.shop_table tbody tr td.product-remove{
	width: 5%!important;
}
#wccart-wrapper table.shop_table thead tr td.product-thumbnail,
#wccart-wrapper table.shop_table tbody tr td.product-thumbnail{
	width: 18%!important;
}
#wccart-wrapper table.shop_table thead tr td.product-name,
#wccart-wrapper table.shop_table tbody tr td.product-name{
	width: 34%!important;
}
#wccart-wrapper table.shop_table thead tr td.product-quantity,
#wccart-wrapper table.shop_table tbody tr td.product-quantity{
	width: 15%!important;
}
#wccart-wrapper table.shop_table thead tr td.product-price,
#wccart-wrapper table.shop_table tbody tr td.product-price{
	width: 15%!important;
}
#wccart-wrapper table.shop_table thead tr td.product-subtotal,
#wccart-wrapper table.shop_table tbody tr td.product-subtotal{
	width: 15%!important;
}

#wccart-wrapper table.shop_table tbody tr td.product-name{
	padding-top: 0;
	text-align: left;
}
#wccart-wrapper table.shop_table tbody tr td.product-quantity{
	text-align: center;
}

#wccart-wrapper table.shop_table tbody tr td.product-name{
	font-size: 18px;
}
#wccart-wrapper table.shop_table tbody tr td.product-name a {
    font-size: 25px;
    color: #43587B;
    display: block;
}
#wccart-wrapper table.shop_table tbody tr td.product-price,
#wccart-wrapper table.shop_table tbody tr td.product-subtotal{
	font-size: 25px;
    color: #43587B;
}
#wccart-wrapper table.shop_table tbody tr td.product-thumbnail{
	padding-top: 15px;
	padding-bottom: 15px;
}

#wccart-wrapper .product-quantity{
	position: relative;
	width: 80px;

}

#wccart-wrapper  ul#shipping_method li{
	padding-left: 0;
}

#wccart-wrapper tbody tr td label{
	display: none;
}
#wccart-wrapper tbody dl dt{
	display: block;
	width: 100%;
	font-weight: 400;
}

#wccart-wrapper #shipping_method li:first-child{
	padding-top: 0;
}
#wccart-wrapper .quantity-wrapper{
	width: 72px!important;
	height: 55px;
	background: #FFFFFF;
	border: 1px solid #DEE7ED;
	box-sizing: border-box;
	border-radius: 4px;
	position: relative;
	padding: 0!important;
}
#wccart-wrapper .quantity-wrapper .plus,
#wccart-wrapper .quantity-wrapper .minus{
	left: initial!important;
	right: 3px!important;
	width: 23px!important;
	height: 20px!important;
	position: absolute!important;
}
#wccart-wrapper .quantity{
	float: left;
}
#wccart-wrapper .quantity-wrapper .plus{
	top: 3px!important;
	bottom: initial!important;
}
#wccart-wrapper .quantity-wrapper .plus i.qnt-plus:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/qnt-plus-single.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 21px;
}
#wccart-wrapper .quantity-wrapper .minus i.qnt-minus:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../images/qnt-minus-single.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 21px;
}
#wccart-wrapper .quantity-wrapper .minus{
	bottom: 3px!important;
	top: initial!important;
}
#wccart-wrapper .quantity .qty{
	width: 100%;
	align-items: center;
	text-align: center;
	color: #7B8CA8;
	font-weight: 400;
	padding-top: 15px;
	padding-right: 23px;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
@media(max-width: 1199px){


} 


@media(max-width: 991px){
	#wccart-wrapper table.shop_table thead{
		display: none;
	}
	#wccart-wrapper tbody tr td label{
		display: block!important;
		float: left;
		color: #43587B!important;
		font-size: 22px!important;
	} 
	#wccart-wrapper tbody tr td span{
		float: right;
	}
	#wccart-wrapper table.shop_table tbody tr td.product-subtotal{
		padding-bottom: 50px;
	}
	#wccart-wrapper table.shop_table tbody tr td.product-thumbnail,
	#wccart-wrapper table.shop_table tbody tr td.product-remove,
	#wccart-wrapper table.shop_table tbody tr td.product-name,
	#wccart-wrapper table.shop_table tbody tr td.product-price,
	#wccart-wrapper table.shop_table tbody tr td.product-quantity,
	#wccart-wrapper table.shop_table tbody tr td.product-subtotal {
	    width: 100%!important;
	    display: block;
	}
	#wccart-wrapper table.shop_table tbody tr td.product-thumbnail a{
		max-width: 200px;
		margin: 0 auto;
	}
	#wccart-wrapper .cart.woocommerce-cart-form__contents td{
		border: none;
	}
	#wccart-wrapper table.shop_table tbody tr td.product-name{
		text-align: center!important;
	}
	#wccart-wrapper .quantity{
		float: right;
	}
	#wccart-wrapper table.shop_table tbody tr td.product-remove{
		padding-bottom: 0;
	}
	#wccart-wrapper .coupon label{
		display: none!important;
	}
	#wccart-wrapper{
		padding-top: 80px;
	}
	#wccart-wrapper table.shop_table_responsive tr td::before, 
	#wccart-wrapper table.shop_table_responsive tr td::before{
		content: none;
	}
	#wccart-wrapper .cart-collaterals .cart_totals, 
	#wccart-wrapper .cart-collaterals .cart_totals{
		width: 100%;
		float: left;
	}
	#wccart-wrapper .cart-collaterals .woocommerce-shipping-destination{
		text-align: right;
	}
	#wccart-wrapper #shipping_method,
	#wccart-wrapper #shipping_method li{
		text-align: right;
		width: 100%;
	}
	#wccart-wrapper ul#shipping_method li label{
		display: block!important;
		width: 100%;
	}
	#wccart-wrapper .woocommerce-shipping-calculator{
		text-align: right;
	}
	#wccart-wrapper  .woocommerce-shipping-totals.shipping td{
		background:transparent!important;
	}
}


@media(max-width: 767px){
	
	#wccart-wrapper{
		padding-top: 65px;
	}
	#wccart-wrapper .woocommerce-shipping-totals.shipping td{
		border: none;
	}

}
 


@media(max-width: 639px){

}



@media(max-width: 575px){
	#wccart-wrapper tbody tr td label {
	    font-size: 18px!important;
	}
	#wccart-wrapper table.shop_table tbody tr td.product-price,
	 #wccart-wrapper table.shop_table tbody tr td.product-subtotal {
	    font-size: 21px;
	}
	#wccart-wrapper #coupon_code,
	#wccart-wrapper .coupon button.button{
		float: none;
		margin: 0 auto 10px;
		display: table;
		min-width: auto;
		width: 100%;
		max-width: 180px;
	}
}


@media(max-width: 479px){


}



@media(max-width: 359px){

}