/*
----------------------
checkout-info-sec-wrp
----------------------
*/
.wccontent-wrapper{
	padding-bottom: 120px;
}
#wccheckout-wrapper .default-page-con{
	padding-top: 0;
}
#wccheckout-wrapper .checkout-cart{
	background-color: #F4F7F9;
	padding: 70px 50px 40px 50px;
	margin-right: 60px;
}
#wccheckout-wrapper .checkout-cart h3{
	margin: 0;
	font-size: 30px;
	line-height: 32px;
	font-weight: 600;
	color: #43587B;
	margin-bottom: 20px;
}
#wccheckout-wrapper .checkout-cart .woocommerce-cart-form__cart-item.wccartform{
	border-top: 2px solid #E1E7F0;
	padding-top: 35px;
	padding-bottom: 35px;
}
#wccheckout-wrapper .checkout-cart .product-thumbnail.checkoutimg{
    width: 27%;
    float: left;
}
#wccheckout-wrapper .checkout-cart .cartdetails{
    width: 73%;
    float: right;
    padding-left: 12px;
}

#wccheckout-wrapper .checkout-cart .product-name a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 22px !important;
	line-height: 24px !important;
	font-weight: 600 !important;
	color: #43587B;
	margin-top: -5px;
	margin-bottom: 5px;
}
#wccheckout-wrapper .variation dt{
	font-size: 16px;
	line-height: 18px;
	color: #7B8CA8;
	margin-bottom: 15px;
}
#wccheckout-wrapper .variation dd{
	float: left;
    margin-right: 10px;
}
#wccheckout-wrapper .product-subtotal{
	float: left;
}
#wccheckout-wrapper .product-subtotal span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 24px;
	line-height: 26px;
	color: #FF5C26;
	font-weight: 300;
	margin-top: 2px;
}
#wccheckout-wrapper .cart_totals{
	border-top: 4px solid #FFFFFF;
}
#wccheckout-wrapper .woocommerce table.shop_table {
    border: none;
    margin: 0 !important;
    text-align: right;
    width: 100%;
    border-collapse: separate;
    border-radius: 0;
    padding-left: 170px;
}
#wccheckout-wrapper .woocommerce table.shop_table td{
	border: none;
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	color: #43587B;
}
#wccheckout-wrapper .woocommerce table.shop_table tbody th,
#wccheckout-wrapper .woocommerce table.shop_table tfoot td,
#wccheckout-wrapper .woocommerce table.shop_table tfoot th {
    border: none;
    font-size: 18px;
    line-height: 20px;
    color: #43587B;
    font-weight: 300;
}
#wccheckout-wrapper .woocommerce table.shop_table td strong span{
	color:#FF5C26;
}
#wccheckout-wrapper #add_payment_method .wc-proceed-to-checkout,
.checkout-cart .wc-proceed-to-checkout{
	display: none;
}
#wccheckout-wrapper .woocommerce-shipping-fields,
#wccheckout-wrapper .woocommerce-billing-fields{
	padding-left: 30px;
	padding-top: 80px;
}
#wccheckout-wrapper .woocommerce-shipping-fields{
	padding-top: 45px;
}
#wccheckout-wrapper .woocommerce-shipping-fields h3,
#wccheckout-wrapper .woocommerce-billing-fields h3{
	margin: 0;
	font-size: 36px;
	line-height: 38px;
	font-weight: 600;
	color: #43587B;
	position: relative;
	padding-bottom:15px;
	margin-bottom: 30px;
}
#wccheckout-wrapper .woocommerce-shipping-fields h3:after,
#wccheckout-wrapper .woocommerce-billing-fields h3:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background:url(../images/dotted-icon.svg);
	background-repeat: no-repeat;
	background-size: 52px 9px;
	width: 52px;
	height: 9px;
}
#wccheckout-wrapper .woocommerce-shipping-fields h3 label{
	margin: 0;
}
#wccheckout-wrapper .woocommerce-shipping-fields .woocommerce-billing-fields__field-wrapper p label,
#wccheckout-wrapper .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p label{
	font-size: 16px !important;
	line-height: 18px !important;
	font-weight: 600;
	color: #43587B;
	margin-bottom: 8px;
}
#wccheckout-wrapper .woocommerce form .form-row input.input-text,
#wccheckout-wrapper .woocommerce form .form-row textarea{
	width: 100%;
	height: 50px;
	border: 1px solid #EDF2F5;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 10px 10px;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
#wccheckout-wrapper .woocommerce form .form-row textarea:focus,
#wccheckout-wrapper .woocommerce form .form-row input.input-text:focus{
	border-color: #000;
	-ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#wccheckout-wrapper .woocommerce-shipping-fields p#shipping_postcode_field,
#wccheckout-wrapper .woocommerce-shipping-fields p#shipping_city_field,
#wccheckout-wrapper .woocommerce-shipping-fields p#shipping_address_1_field,
#wccheckout-wrapper .woocommerce-billing-fields p#billing_postcode_field,
#wccheckout-wrapper .woocommerce-billing-fields p#billing_city_field, 
#wccheckout-wrapper .woocommerce-billing-fields p.form-row-first,
#wccheckout-wrapper .woocommerce-billing-fields p.validate-phone{
	width: 50%;
}
#wccheckout-wrapper .woocommerce-shipping-fields p#shipping_city_field,
#wccheckout-wrapper .woocommerce-billing-fields p#billing_city_field,
#wccheckout-wrapper .woocommerce-billing-fields p.form-row-first{
	float: left !important;
}
#wccheckout-wrapper .woocommerce-shipping-fields p#shipping_postcode_field,
#wccheckout-wrapper .woocommerce-shipping-fields p#shipping_address_1_field,
#wccheckout-wrapper .woocommerce-billing-fields p.validate-postcode,
#wccheckout-wrapper .woocommerce-billing-fields p.validate-phone{
	float: right !important;
}
#wccheckout-wrapper .woocommerce form .form-row-wide,
#wccheckout-wrapper .woocommerce-page form .form-row-wide{
	clear: none;
}
#wccheckout-wrapper .woocommerce-shipping-fields__field-wrapper,
#wccheckout-wrapper .woocommerce-billing-fields__field-wrapper{
	margin: 0 -12px;
}
#wccheckout-wrapper .woocommerce form .form-row {
    padding:15px 12px 20px;
    margin: 0;
}
#wccheckout-wrapper .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 50px;
    margin: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    padding: 10px 10px;
    border: 1px solid #EDF2F5;
}
#wccheckout-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #43587B;
    line-height: 28px;
    text-align: left;
}
#wccheckout-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow{
	display: none;
}
#wccheckout-wrapper .select2-results ul li:after{
	content: none;
}
#wccheckout-wrapper .product-quantity span {
    border-radius: 2px;
    margin-top: -2px;
    width: 23px;
    height: 21px;
    float: left;
    padding: 0px 5px 0; 
    background: #fff;
    position: absolute;
}
#wccheckout-wrapper .product-quantity span.plus{
	right: 0 !important;
	left: initial;
	top: 2px;
}
#wccheckout-wrapper .product-quantity span.minus{
	left: 0;
	top: 2px;
}
#wccheckout-wrapper .product-quantity input[type="number"]{
    background: transparent;
    -moz-appearance: textfield;
    appearance: none;
    margin-top: -2px;
    font-size: 20px;
    line-height: 22px;
    color: #7B8CA8;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#wccheckout-wrapper .product-quantity {
    float: right;
    width: 80px;
    margin-top: 7px;
    position: relative !important;
}
#wccheckout-wrapper .quantity-wrapper i.qnt-minus:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: url(../images/qnt-minus.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 12px;
    height: 4px;
}
#wccheckout-wrapper .quantity-wrapper i.qnt-plus:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    background: url(../images/checkout-plus.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 12px;
    height: 12px;
}
#wccheckout-wrapper .quantity-wrapper{
	padding-left: 0;
}
#wccheckout-wrapper .woocommerce #respond input#submit.alt,
#wccheckout-wrapper .woocommerce a.button.alt, .woocommerce button.button.alt,
#wccheckout-wrapper .woocommerce input.button.alt {
    background-color: #7B8CA8;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
#wccheckout-wrapper .woocommerce #respond input#submit,
#wccheckout-wrapper .woocommerce a.button,
#wccheckout-wrapper .woocommerce button.button,
#wccheckout-wrapper .woocommerce input.button {
    font-size: 14px;
    margin: 0;
    line-height: 16px;
    cursor: pointer;
    overflow: visible;
    padding: 18px 50px;
    font-weight: 700;
    border-radius: 8px;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#wccheckout-wrapper.wcpage-default-con .woocommerce #respond input#submit.alt:hover,
#wccheckout-wrapper.wcpage-default-con .woocommerce a.button.alt:hover,
#wccheckout-wrapper.wcpage-default-con .woocommerce button.button.alt:hover,
#wccheckout-wrapper.wcpage-default-con .woocommerce input.button.alt:hover{
	background-color: #fb4002 !important;
}

#wccheckout-wrapper #add_payment_method #payment ul.payment_methods li:after,
#wccheckout-wrapper .woocommerce-cart #payment ul.payment_methods li:after,
#wccheckout-wrapper .woocommerce-checkout #payment ul.payment_methods li:after{
	content: none;
}
#wccheckout-wrapper .woocommerce-error::before,
#wccheckout-wrapper .woocommerce-info::before,
#wccheckout-wrapper .woocommerce-message::before{
	content: none;
}
#wccheckout-wrapper .default-page-con ul li,
ul li {
    padding: 15px 15px 15px 15px;
    position: relative;
    line-height: 24px !important;
}
#wccheckout-wrapper .xoo-cp-variations .variation {
    display: block !important;
}
#wccheckout-wrapper .xoo-cp-variations .variation dd {
    display: block !important;
}
#wccheckout-wrapper .xoo-cp-variations .variation:last-of-type {
    display: block !important;
}
#wccheckout-wrapper #payment{
	background: #F4F7F9;
	margin-top: 30px;
	margin-bottom: 110px;
}
#wccheckout-wrapper .woocommerce-error,
#wccheckout-wrapper .woocommerce-info,
#wccheckout-wrapper .woocommerce-message{
	padding: 15px 0;
}
#wccheckout-wrapper .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
#wccheckout-wrapper .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td{
	background: transparent;
}


/*
---------------------
 Responsive css
---------------------
*/
@media(max-width: 1399px){
	#wccheckout-wrapper .woocommerce-shipping-fields,
	#wccheckout-wrapper .woocommerce-billing-fields{
		padding-left: 0;
	}
	#wccheckout-wrapper .woocommerce-shipping-fields h3,
	#wccheckout-wrapper .default-page-con h3 {
	    font-size: 32px;
	    line-height: 34px;
	}
}
@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	#wccheckout-wrapper .woocommerce-shipping-fields h3,
	#wccheckout-wrapper .default-page-con h3 {
	    font-size: 27px;
	    line-height: 30px;
	}
	#wccheckout-wrapper .checkout-cart {
	    padding: 70px 20px 40px 20px;
	    margin-right: 15px;
	}

} 


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	#wccheckout-wrapper .woocommerce .col2-set .col-1,
	#wccheckout-wrapper .woocommerce-page .col2-set .col-1 {
	    float: left;
	    width: 100%;
	}
	#wccheckout-wrapper .woocommerce .col2-set .col-2,
	#wccheckout-wrapper .woocommerce-page .col2-set .col-2 {
	    float: right;
	    width: 100%;
	}
	#wccheckout-wrapper .checkout-cart{
		margin-right: 0;
	}
	#wccheckout-wrapper .woocommerce #respond input#submit.alt,
	#wccheckout-wrapper .woocommerce a.button.alt,
	#wccheckout-wrapper .woocommerce button.button.alt,
	#wccheckout-wrapper .woocommerce input.button.alt {
	    max-width: 200px;
	    width: 100%;
	    display: table;
	    margin: 0 auto;
	}
	#wccheckout-wrapper .checkout-cart .cartdetails {
	    padding-left: 20px;
	}
}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	#wccheckout-wrapper .checkout-cart .product-name a{
		font-size: 20px;
		line-height: 22px;
	}
	#wccheckout-wrapper .checkout-cart .woocommerce-cart-form__cart-item.wccartform {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	#wccheckout-wrapper .checkout-cart .product-subtotal span {
	    font-size: 22px;
	    line-height: 24px;
	    margin-top: 2px;
	}
	#wccheckout-wrapper .checkout-cart {
	    padding: 50px 10px 30px 10px;
	    margin-right: 0;
	}
	#wccheckout-wrapper .woocommerce-billing-fields {
	    padding-top: 50px;
	}
	#wccheckout-wrapper .woocommerce-shipping-fields{
		padding-top: 30px;
	}
	#wccheckout-wrapper .woocommerce-shipping-fields h3:after,
	#wccheckout-wrapper .woocommerce-billing-fields h3:after{
		background:url(../images/dotted-round-icon-xs.svg);
		background-repeat: no-repeat;
	}

	


}
 


@media(max-width: 639px){

}



@media(max-width: 575px){
	#wccheckout-wrapper .woocommerce-shipping-fields h3,
	#wccheckout-wrapper .default-page-con h3{
		margin-bottom: 20px;
	}
	#wccheckout-wrapper .checkout-cart .product-thumbnail.checkoutimg {
	    width: 100%;
	    float: left;
	}
	#wccheckout-wrapper .checkout-cart .cartdetails {
	    width: 100%;
	    float: right;
	    padding-left: 0;
	    padding-top: 20px;
	}
	#wccheckout-wrapper .checkout-cart .product-thumbnail.checkoutimg a img{
		width: 100%;
	}
	#wccheckout-wrapper .woocommerce table.shop_table{
		padding-left: 0;
	}

}


@media(max-width: 479px){
	#wccheckout-wrapper .woocommerce-shipping-fields p#shipping_postcode_field,
	#wccheckout-wrapper .woocommerce-shipping-fields p#shipping_city_field,
	#wccheckout-wrapper .woocommerce-shipping-fields p#shipping_address_1_field,
	#wccheckout-wrapper .woocommerce-billing-fields p#billing_postcode_field,
	#wccheckout-wrapper .woocommerce-billing-fields p#billing_city_field,
	#wccheckout-wrapper .woocommerce-billing-fields p.form-row-first,
	#wccheckout-wrapper .woocommerce-billing-fields p.validate-phone {
	    width: 100%;
	}
	#wccheckout-wrapper .woocommerce form .form-row-wide,
	#wccheckout-wrapper .woocommerce-page form .form-row-wide{
		clear: left;
	}
	#wccheckout-wrapper .woocommerce-shipping-fields__field-wrapper,
	#wccheckout-wrapper .woocommerce-billing-fields__field-wrapper {
	    margin: 0;
	}
	.innerpage-con-wrap .woocommerce form .form-row {
	    padding: 0;
	    margin: 0;
	    margin-bottom: 15px;
	}
	#wccheckout-wrapper .woocommerce form .form-row-first,
	#wccheckout-wrapper .woocommerce form .form-row-last,
	#wccheckout-wrapper .woocommerce-page form .form-row-first,
	#wccheckout-wrapper .woocommerce-page form .form-row-last {
	    width: 100%;
	}
	#wccheckout-wrapper .woocommerce form .form-row {
	    padding: 15px 0 20px;
	}
	#wccheckout-wrapper .quantity-wrapper{
	    margin-top: 0;
	}
	#wccheckout-wrapper .product-quantity span.plus{
		right: 0 !important;
		left: initial;
	}
}



@media(max-width: 359px){

}
