/**
All Transitions
*/
.woocommerce ul.products li.product:hover .catalogue-image a img,
.nw-post-gird-innr:hover .nw-post-gird-img,
a,input,img,textarea,button,
.main-bnr-img-bx a em,
.blog-post-grd-des a em,
.dftPromoModuleSlider ul.slick-dots li,em,
.dft-2grd-img-con-item-img,.blog-post-date-bdr,.hdr-cart-btn,svg,
a.xcp-btn.xoo-cp-close{
	transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.woocommerce ul.products li.product:hover .catalogue-image a img,
.nw-post-gird-innr:hover .nw-post-gird-img,
.scale,.dft-2grd-img-con-item-col:hover .dft-2grd-img-con-item-img{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li a:hover,
nav.main-nav ul li.current-menu-item a{
	color:#fff;
}


.hdr-btm-nav ul li a:hover,
.nw-lang ul li a:hover{
	color: #FF5C26;
}
.hdr-cart-btn em{
	cursor: pointer;
}

.hdr-cart-btn:hover{
	background-color: #fff;
}
.hdr-cart-btn:hover em svg,
.dft-news-details-social-icon ul li a:hover svg{
	fill: #FF5C26;
}
.hdr-search button:hover,
.hdr-search.hdr-search-field-show button{
	border-color: #FF5C26;
	background: #FF5C26;
}
.hdr-search button:hover em svg,
.hdr-search.hdr-search-field-show button em svg{
	fill: #fff;
}