


/*page-banner*/

.page-banner-con{
	position: relative; 
	overflow: hidden
}
.page-banner-bg{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
.page-banner-des-innr{
    padding: 170px 0 60px;
    position: relative;
}
strong.banner-page-title, 
h1.banner-page-title,
.page-banner-des-inner h1,
.page-banner-des-inner strong {
	line-height: 70px;
	color: #fff;
	position: relative;
	margin-bottom: 10px;
	display: block;
	font-weight: 700;
	font-size: 64px;
	line-height: 75px;
	text-transform: uppercase;
}

/*breadcrumbs*/

.breadcrumbs ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.breadcrumbs ul:after,
.breadcrumbs ul:before{
	content: "";
	display: table;
	clear: both;
}
.breadcrumbs ul li{
	padding: 0 16px;
	position: relative;
	float: left;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}
.breadcrumbs ul li a {
    display: block;
    color: #fff;
}
.breadcrumbs ul li a:hover{
	color: #02BEE8;
}

.breadcrumbs ul li::after {
	content: "";
	height: 14px;
	width: 13px;
	background: url(../images/breadcrumbs-array.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: absolute;
	right: -6px;
	top: 50%;
	left:auto;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.breadcrumbs ul li:last-child{
	padding-right: 0;
}

.breadcrumbs ul li:first-child{
	padding-left: 33px;
}
.breadcrumbs ul li:first-child:before{
	content: "";
	height: 24px;
	width: 24px;
	background: url(../images/page-bnr-home-inc.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.breadcrumbs ul li:last-child:after{
	content: none;
}








@media(max-width: 1199px){


}

@media(max-width: 991px){

}

@media(max-width: 767px){

}

@media(max-width: 639px){

}

@media(max-width: 575px){
	.page-banner-des-innr {
	    padding: 170px 0 60px;
	    position: relative;
	    text-align: center;
	}
	strong.banner-page-title, 
	h1.banner-page-title, 
	.page-banner-des-inner h1, 
	.page-banner-des-inner strong {
	    font-size: 42px;
	    line-height: 45px;
	}

	.breadcrumbs ul {
	    display: table;
	    margin: 0 auto;
	}
    .breadcrumbs ul li{
        display: none!important;
	}

    .breadcrumbs ul li:first-child,
    .breadcrumbs ul li:last-child{
        display: inline-block!important;
        vertical-align: baseline!important;
    }
    .breadcrumbs ul li:first-child {
	    margin-right: 12px;
	}
    .breadcrumbs ul li:last-child{
    	padding-left: 48px;
    }
	.breadcrumbs ul li:last-child::after {
		content: "";
		height: 14px;
		width: 13px;
		background: url(../images/breadcrumbs-array.svg);
		background-size: 100% auto;
		background-repeat: no-repeat;
		position: absolute;
		left: 25px;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
	.breadcrumbs ul li:last-child::before {
		content: "...";
		font-size: 22px;
		position: absolute;
		left: 0;
		top:0;
		color:#fff;
	}

}

@media(max-width: 479px){
	strong.banner-page-title, 
	h1.banner-page-title, 
	.page-banner-des-inner h1, 
	.page-banner-des-inner strong {
	    font-size: 35px;
	    line-height: 40px;
	}

}

@media(max-width: 359px){

}

















