


.search-result-sec-wrp{
  position: relative;
  margin-bottom: 8px;
}
.search-result-sec-wrp:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width:50%;
  background: #F4F7F9;
  z-index: 1
}
.search-result-con{
  position: relative;
  z-index: 3
}
.search-result-left-sidebar{
	width:29%;
	float: left;
	background: #F4F7F9;
	padding-right: 30px;
}
.search-result-rgt-main {
  width: 71%;
  float: left;
  padding-bottom: 90px;
  background: #fff;
}
.search-box{
	position: relative;
}
.search-box input[type=text] {
  background: #fff;
  width: 100%;
  padding: 23px 85px 23px 22px;
  color: #7B8CA8;
  -ms-box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
  -webkit-box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
  box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
}
.search-box input[type=text]:focus {
  background: #ddd;
}
.search-box button {
  border: 2px solid #8798B6;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  position: absolute;
  right: 22px;
  top: 13px;
  background: #fff;
}
.search-box button:hover {
  background: #FF5C26;
  border: 2px solid #FF5C26;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.search-box button i{
  position: relative;
  height: 100%;
  width:100%;
  display: block;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.search-box button i svg {
  fill: #8798B6!important;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  transform: translate(-50%, -50%);
}
.search-box button:hover i svg {
  fill: #fff!important;
}
.search-box input[type=text]::placeholder {
  color: #7B8CA8;
  opacity: 1;
}
.search-box input[type=text]:-ms-input-placeholder {
  color: #7B8CA8;
  opacity: 1;
}
.search-box input[type=text]::-ms-input-placeholder { 
  color: #7B8CA8;
  opacity: 1;
}
.search-box-wrp {
  margin-bottom: 72px;
  margin-top: 35px;
}
.check-box-block .form-group {
  display: block;
  margin-bottom: 0;
}
.check-box-block .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.check-box-block .form-group label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 29px;
  color: #43587B;
  font-weight: 600;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.check-box-block .form-group label:focus{
  color:#02BEE8!important;
  opacity: 1;
}
.check-box-block .form-group input:checked + label{
  color:#02BEE8!important;	
}
.check-box-block .form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #7B8CA8;
  padding: 8px;
  display: inline-block; 
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  margin-top:-2px;
}
.check-box-block .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 7px;
    width: 5px;
    height: 11px;
    border: 1px solid #02BEE8;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.radio-box-block p{
    margin-bottom: 12;
}
.radio-box-block form p label{
    position: relative;
    font-weight: normal;
}
.radio-box-block input[type="radio"]:checked,
.radio-box-block input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio-box-block input[type="radio"]:checked + label,
.radio-box-block input[type="radio"]:not(:checked) + label{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 29px;
    display: inline-block;
    color: #7d7d7d;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
}
.radio-box-block input[type="radio"]:checked + label:before, .radio-box-block input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
	left: 3px;
	top: 7px;
    width: 12px;
    height: 12px;
    border-radius: 100% 100%;
    background: #fff;
    background: #02BEE8;
}
.radio-box-block input[type="radio"]:checked + label:after,
.radio-box-block input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #7B8CA8;;
    position: absolute;
    top: 4px;
    left: 0;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio-box-block input[type="radio"]:checked + label:after{
    border: 1px solid #02BEE8;;	
}
.radio-box-block input[type="radio"]:not(:checked) + label:before {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio-box-block input[type="radio"]:checked + label:before {
    opacity: 1;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}
.radio-box-block input[type="radio"]:checked + label , 
.radio-box-block  input[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    line-height: 25px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #43587B;
}
.radio-box-block input[type="radio"]:checked + label,
.radio-box-block input[type="radio"]:checked + label span{
    color: #02BEE8;;
}
.radio-box-block-2 label span{ 
    display: inline-block;
    vertical-align: baseline;
    font-size: 9px;
    font-weight: 600;
    line-height: 29px;
    color: #b1b1b1;
    padding-left: 5px
}
.check-box-wrp,
.radio-box-wrp{
	margin-bottom: 50px;
}
.check-box-wrp h2,
.radio-box-wrp h2{
	font-weight: 300;
	line-height: 36px;
	color: #7B8CA8;
	margin-bottom: 25px;
  text-transform: capitalize;
}






/*search-result-rgt-main*/

.search-result-rgt-main{

}
.search-result-rgt-head{
  padding-left: 70px;
}
.search-result-rgt-head {
  padding:50px 0 40px 70px;
}
.search-result-rgt-head h1{
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
  color: #43587B;
}
.search-result-rgt-head h1 span{
  color: #FF5C26;
}
.search-pagi-controller{
	padding-left: 70px;
  border-top: 3px solid #F4F7F9;
  border-bottom: 3px solid #F4F7F9;
}
.search-pagi-controller .search-pagi-main{
	position: relative;
  padding: 0 40px;
}
.search-pagi-controller .search-pagi-main ul{
	display: table;
	margin:0 auto;
  padding: 0;
  list-style:none;
}
.search-pagi-controller .search-pagi-main li{
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #7B8CA8;
	padding: 0 10px;
	float: left;
}
.search-pagi-controller .search-pagi-main li:after{
	content: none;
}
.search-pagi-controller .search-pagi-main li > span.current,
.search-pagi-controller .search-pagi-main li > a{
	color: #7B8CA8;
	position: relative;
	display: block;
	padding: 30px 3px;
}
.search-pagi-controller .search-pagi-main li > a:hover,
.search-pagi-controller .search-pagi-main li > span.current{
	color: #FF5C26;
}
.search-pagi-main li > span.current:after{
	content: "";
	position: absolute;
	bottom: 0;
	left:0;
	right: 0;
	height: 4px;
	width:100%;
	background: #FF5C26; 
}
.search-prev-link{
  display: inline-block;
  vertical-align: baseline;
  max-width: 35px;
  position: absolute;
  top:55%;
  left: 0;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search-next-link{
  display: inline-block;
  vertical-align: baseline;
  position: absolute;
  top:55%;
  right: 0;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search-prev-link:hover,
.search-next-link:hover{
  opacity: .5
}


.search-result-controller {
  padding: 30px 0 20px 70px;
}
.product-search-result-wrp{
  padding-bottom: 52px;
}
.article-search-result-wrp li,
.product-search-result-wrp li{
  padding: 0;
  margin-bottom: 30px;
}
.article-search-result-wrp li:after,
.product-search-result-wrp li:after{
  content: none;
}
.article-search-result-wrp h2, 
.product-search-result-wrp h2 {
    font-weight: 600;
    line-height: 32px;
    color: #43587B;
    margin-bottom: 30px;
}

.product-search-result,
.article-search-result{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-search-result-lft,
.product-search-result-lft{
  width:36%;
  order: 1;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  min-height: 195px;
  position: relative;
}
.article-search-result-rgt,
.product-search-result-rgt{
  width: 64%;
  order: 2;
  padding: 27px 20px 35px 25px;
  position: relative;
}
.article-search-result-rgt{
    padding: 8px 20px 20px 25px;
}
.article-search-result-head > span,
.product-search-result-rgt > span{
  display: block;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #02BEE8;
  margin-bottom: 10px;
}
.article-search-result-rgt h4,
.product-search-result-rgt h4{
  font-weight: 600;
  line-height: 24px;
  color: #43587B;
  margin-bottom: 10px;
  font-size: 24px;
}
.article-search-result-rgt h4 a,
.product-search-result-rgt h4 a{
  color: inherit;
}
.article-search-result-rgt h4 a:hover,
.product-search-result-rgt h4 a:hover{
  color: #FF5C26;
}
.article-search-result-rgt p,
.product-search-result-rgt p{
  font-weight: 600;
  line-height: 24px;
}
.article-search-result-rgt > a,
.product-search-result-rgt > a{
  display: inline-block;
  vertical-align: baseline;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FF5C26;
  position: relative;
  padding-right: 22px;
  margin-top: 6px;
  text-transform: uppercase;
}
.article-search-result-rgt > a:after,
.product-search-result-rgt > a:after{
  content: "";
  position: absolute;
  background:url(../images/search-more-inc.svg); 
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: 100% auto;
  top: 2px;
  right: 0;
  width:16px;
  height: 16px;
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.article-search-result-rgt > a:hover:after,
.product-search-result-rgt > a:hover:after{
  right: -8px;
}

.article-search-result-rgt .date{
  border: 2px solid #7B8CA8;
  box-sizing: border-box;
  border-radius: 8px;
  width: 68px;
  height: 68px;
  position: absolute;
  padding: 5px;
  text-align: center;
  top:10px;
  right:0;
}
.article-search-result-rgt .date strong{
  display: block;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
}
.article-search-result-rgt .date span{
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.article-search-result-wrp li{
  padding: 0;
  margin-bottom: 42px;
}

.article-search-result-head{
  padding-right: 120px;
}





/*
  Product page left sidebar
*/



.wpf_item.wpf_item_wpf_cat,
.wpf_item.wpf_item_pa_color,
.wpf_item.wpf_item_pa_size {
  padding-top: 0!important;
  padding-bottom: 30px!important;
}
.wpf_item .wpf_item_name {
  font-weight: 300!important;
  font-size: 30px!important;
  line-height: 30px!important;
  display: block!important;
  cursor: auto!important;
  border-bottom: 0!important;
  padding-bottom: 0!important;
  color: #7B8CA8!important;
  margin-top: 0!important;
  margin-bottom: 30px!important;
  text-transform: capitalize!important;
}
.wpf_items_wrapper .wpf_item ul.wpf_links li{
    padding-left: 23px!important;
}
.wpf_items_wrapper .wpf_item ul li {
    display: block!important;
    margin: 0!important;
    padding-bottom: 17px!important;
    font-weight: 600!important;
    font-size: 16px!important;
    text-transform: uppercase!important;
    line-height: 24px !important;
    position: relative;
}
.wpf_items_wrapper .wpf_item ul li a{
  color: #43587B!important;
}
.wpf_items_wrapper .wpf_item ul li a:hover{
  color: #02BEE8!important;
}
.wpf_items_wrapper .wpf_item ul li span{
  cursor: pointer;
  display: inline-block;
  vertical-align: baseline;
}
.wpf_items_wrapper .wpf_item ul.wpf_links li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  background: url(../images/pro-list-icon.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  -ms-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.wpf_item .wpf_submenu {
  border-left: 1px solid #E3E8F1!important;
  padding-left: 15px!important;
  margin: 12px 0 0 -15px!important;
}
.wpf_items_wrapper .wpf_item .wpf_submenu li{
  padding-left: 23px !important;
  padding-bottom: 7px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}
.wpf_items_wrapper .wpf_item .wpf_submenu li a{
  display: inline-block!important;
  vertical-align: baseline!important;
  color: #7187AA !important;
  -ms-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.wpf_items_wrapper .wpf_item .wpf_submenu li a:hover{
  color: #02BEE8!important;
  -ms-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.wpf_item li .wpf_selected {
  color: #02BEE8!important;
}
.wpf_items_wrapper .wpf_item .wpf_submenu li:after {
  background: url(../images/pro-list-icon-sub.svg);
  background-repeat: no-repeat;
}

.wpf_items_wrapper .wpf_item.wpf_item_pa_size ul li,
.wpf_items_wrapper .wpf_item.wpf_item_pa_color ul li{
  padding-left:0!important;
}
.wpf_items_wrapper .wpf_item.wpf_item_pa_size ul li:after,
.wpf_items_wrapper .wpf_item.wpf_item_pa_color ul li:after{
  content: none!important;
}
.wpf_items_wrapper .wpf_item.wpf_item_pa_size ul li label,
.wpf_items_wrapper .wpf_item.wpf_item_pa_color ul li label{
  font-weight: 600;
  font-size: 16px;
}


.wpf_item input[type="checkbox"] {
  border: 1px solid #7B8CA8!important;
  background: #fff!important;
  color: #02BEE8!important;
  height: 18px!important;
  margin: 0 4px 0 0;
  width: 18px!important;
  margin-top:-5px!important;
}
.wpf_item input[type="checkbox"]:checked::before{
  content: ''!important;
  display: block;
  position: absolute;
  top: 3px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: 1px solid #02BEE8;
  border-width: 0 2px 2px 0;
  -ms-transform: rotate(45deg);
  --transform: rotate(45deg);
  transform: rotate(45deg);
}

.wpf_item input[type="checkbox"]:checked + label{
  color:#02BEE8;
}








.wpf_item label{
  position: relative;
  font-weight: normal;
}
.wpf_item input[type="radio"]:checked,
.wpf_item input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.wpf_item input[type="radio"]:checked + label,
.wpf_item input[type="radio"]:not(:checked) + label{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 29px;
  display: inline-block;
  color: #7d7d7d;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
}
.wpf_item input[type="radio"]:checked + label:before, .radio-box-block input[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 7px;
  width: 12px;
  height: 12px;
  border-radius: 100% 100%;
  background: #fff;
  background: #02BEE8;
}
.wpf_item input[type="radio"]:checked + label:after,
.wpf_item input[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid #7B8CA8;;
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.wpf_item input[type="radio"]:checked + label:after{
  border: 1px solid #02BEE8;; 
}
.wpf_item input[type="radio"]:not(:checked) + label:before {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.wpf_item input[type="radio"]:checked + label:before {
  opacity: 1;
  -webkit-transform: scale(.8);
  transform: scale(.8);
}
.wpf_item input[type="radio"]:checked + label , 
.wpf_item  input[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  line-height: 25px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #43587B;
}
.wpf_item input[type="radio"]:checked + label{
  color: #02BEE8;;
}































































/*===================
      Responsive
====================*/


@media(max-width: 1199px){
  .search-result-left-sidebar {
    padding-right: 15px;
  }
  .search-box-wrp {
    margin-bottom: 60px;
    margin-top: 23px;
  }
  .search-result-rgt-head {
    padding: 40px 0 30px 30px;
  }
  .search-pagi-controller {
    padding-left: 30px;
  }
  .search-result-controller {
    padding: 30px 0 20px 30px;
  }
  .article-search-result-head {
    padding-right: 70px;
  }
  .article-search-result-wrp li, 
  .product-search-result-wrp li {
    padding: 0;
    margin-bottom: 30px;
  }
}

@media(max-width: 991px){

  .search-result-con{
    margin-right: -15px;
    margin-left: -15px;
  }
  .search-result-rgt-head {
    padding: 40px 15px 30px 15px;
    text-align: center;
  }
  .search-pagi-controller {
    padding-left: 15px;
  }
  .search-result-controller {
    padding: 30px 15px 20px 15px;
  }
  .product-search-result-rgt {
    padding: 15px 15px 25px 15px;
  }
  .article-search-result-rgt {
    padding: 15px 15px 13px 15px;
  }
  .search-result-sec-wrp:after {
    content: none;
  } 
  .search-result-left-sidebar {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .search-result-rgt-main {
    width: 100%;
  }
  .search-pagi-controller {
    padding-left: 15px;
    padding-right: 15px;
  }
  .radio-box-wrp,
  .check-box-wrp{
    width:50%;
    float: left;
    padding:0 15px ;
    margin-bottom: 30px;
  }
  .search-result-rgt-head h1 {
    line-height: 32px;
  }  

}

@media(max-width: 767px){

.search-catalog .wcsearch {
  max-width: 500px !important;
  width: 100% !important;
  margin: 0 auto;
  float: none;
}



  /* Product page sidebar */

  .wpf_form {
      margin: 0 0 35px!important;
  }
  .wpf_item.wpf_item_wpf_cat,
  .wpf_item.wpf_item_pa_color,
  .wpf_item.wpf_item_pa_size {
    padding-top: 15px!important;
    padding-bottom: 0!important;
    max-width: 500px;
    margin: 0 auto;
    border-bottom: 2px solid #F4F7F9;
  }
  .wpf_item.active:first-child > ul{
    display: block;
  }  
  .wpf_item.active > ul{
    display: block;
  }

  .wpf_item > ul{
    display: none;
  }
.wpf_item .wpf_item_name {
    font-size: 24px !important;
    margin-bottom: 15px !important;
    cursor: pointer !important;
}
  .wpf_item .wpf_item_name:after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background:url(../images/wpf-item-name-down.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width:22px; 
    height:22px;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .wpf_item.active .wpf_item_name:after{
    background:url(../images/wpf-item-name-up.svg);
    background-repeat: no-repeat;
  }


}


@media(max-width: 639px){
  .article-search-result, 
  .product-search-result{
    display: block
  }  
  .article-search-result-lft, 
  .product-search-result-lft {
      width: 100%;
      min-height: 220px;
  }
  .article-search-result-rgt, 
  .product-search-result-rgt {
    width: 100%;
    padding: 15px 0 25px 0;
  }
  .article-search-result-lft, 
  .product-search-result-lft {
    width: 100%;
    min-height: 220px;
    max-width: 400px;
    margin: 0 auto 10px;
    float: none;
  }
  .article-search-result-rgt .date {
    top: 15px;
    width: 60px;
    height: 60px;
    padding: 3px;
  }
  .article-search-result-rgt .date strong {
    font-size: 28px;
    line-height: 31px;
  }
  .article-search-result-lft, 
  .product-search-result-lft {
    min-height: 220px;
  }
  .product-search-result-wrp {
      padding-bottom: 20px;
  }
  .article-search-result-wrp h2, 
  .product-search-result-wrp h2 {
      margin-bottom: 18px;
  } 
  .search-result-rgt-main {
      padding-bottom: 60px;
  }  
  .search-box-wrp {
    margin-bottom: 30px;
    margin-top: 23px;
  } 
  .check-box-wrp h2, 
  .radio-box-wrp h2 {
    margin-bottom: 12px;
  }
}

@media(max-width: 575px){
  .article-search-result-lft, 
  .product-search-result-lft {
    width: 100%;
    min-height: 220px;
    max-width: initial;
  }
  .article-search-result-rgt h4, 
  .product-search-result-rgt h4 {
    font-weight: 600;
    line-height: 24px;
    color: #43587B;
    margin-bottom: 10px;
    font-size: 21px;
  }


}

@media(max-width: 479px){
  .radio-box-wrp, .check-box-wrp {
      width: 100%;
      float: left;
      padding: 0 15px;
      margin-bottom: 30px;
  }
  .search-box input[type=text] {
      width: 100%;
      padding: 16px 60px 16px 15px;
  }
  .search-box button {
    width: 40px;
    height: 40px;
    right: 12px;
    top: 8px;
  }
  .search-result-rgt-head {
    padding: 40px 15px 15px 15px;
  } 
  .product-search-result-wrp {
      padding-bottom: 0;
  }





}

@media(max-width: 359px){
  .search-result-rgt-head h1 {
      font-size: 25PX
  }
}







