/*
----------------------
 Product Css
----------------------
*/
.search-catalog{
	padding: 30px 0;
}
.search-catalog .wcsearch{
	float: left;
	position: relative;
	max-width: 550px !important;
	width: 100% !important;
}
.search-catalog .wcsearch input[type="search"]{
	background: #ffffff;
	box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
	font-size: 16px;
	line-height: 18px;
	color: #7B8CA8;
	width: 100%;
	height: 70px;
	padding: 28px 70px 28px 20px;
}
.search-catalog .wcsearch button{
	position: absolute;
	right: 16px;
	top:14px;
	width:44px;
	height:44px;
	background-color: inherit !important;
	border: 2px solid #8798B6;
	box-sizing: border-box;
	border-radius: 8px;
	background-image: url(../images/product-search-icon.svg) !important;
	background-repeat: no-repeat;
	background-size:18px 18px;
	text-indent: -99999px;
	background-position: left 11px top 10px
}
.search-catalog .wccatalog{
	float: right;
}
.search-catalog .wcsearch input[type="search"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7B8CA8;
  opacity: 1;
}
.search-catalog .wcsearch input[type="search"]::-moz-placeholder { /* Firefox 19+ */
  color: #7B8CA8;
  opacity: 1;
}
.search-catalog .wcsearch input[type="search"]:-ms-input-placeholder { /* IE 10+ */
  color: #7B8CA8;
  opacity: 1;
}
.search-catalog .wcsearch input[type="search"]:-moz-placeholder { /* Firefox 18- */
  color: #7B8CA8;
  opacity: 1;
}

.wccatalog span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 24px;
	color: #7B8CA8;
	padding-right: 20px;
	padding-top: 16px;
}
.wccatalog select {
    border: 2px solid #F4F7F9;
    box-sizing: border-box;
    width: 325px;
    font-size: 16px;
    line-height: 18px;
    color: #43587B;
    padding: 15px 20px 18px;
    position: relative;
}
.wccatalog select:after{
    content: "\f107" !important;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #43587B !important;
    font-size: 18px !important;
    position: absolute !important;
    top: 10px !important;
    left: 0 !important;
    width: 14px !important;
    height: 8px !important;
}
.woocommerce .woocommerce-ordering{
	margin:0 !important;
}
ul.products{
	margin: 0 -12px !important;
	overflow: hidden;
}
.products li{
	padding-left: 12px !important;
	padding-right: 12px !important;
	padding-bottom: 35px !important;
	margin: 0 !important;
	width: 33.3333% !important;
}

.products li:after{
	content: none;
	
}
.products h5{
	margin: 0;
	font-size: 13px;
	line-height: 15px;
	font-weight: 600;
	color: #02BEE8;
	margin-top: 10px;
	margin-bottom: 12px;
	text-transform: uppercase;
}
.products h4{
	margin: 0;
	color: #43587B;
	font-weight: 600;
	margin-bottom: 5px; 
}
.products .shorttext-loop p{
	color: #7B8CA8;
}
.products .moreproduct a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	color: #FF5C26;
	padding-right: 22px;
	position: relative;
}
.products .moreproduct a:after{
    content: "";
    position: absolute;
    right: 0;
    top: 1px;
    background-image: url(../images/list-icon.svg) !important;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.products .moreproduct a:hover:after{
	right: -5px;
}
.woocommerce-pagination{
	background-color: #F4F7F9;
	margin-top: 35px;
}
.woocommerce-pagination ul{
	list-style: none;
	margin: 0 !important;
	border:none !important;
}
.woocommerce-pagination ul li:after{
	content: none;
}
.woocommerce-pagination ul li{
	border:none !important;
	padding: 40px 12px 30px !important;
	position: relative;
	overflow: initial !important;
}
.woocommerce-pagination ul li span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 15px;
	line-height: 17px;
	color: #7B8CA8;
}
.woocommerce-pagination ul li a{
	display: inline-block !important;
	vertical-align: baseline !important;
	text-decoration: none !important;
	font-size: 15px !important;
	line-height: 17px !important;
	font-weight: 600 !important;
	color: #7B8CA8 !important;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span{
	padding: 0 !important;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current{
	background: none !important;
	color: #FF5C26 !important;
	display: inline-block;
	vertical-align: baseline;
}
.woocommerce nav.woocommerce-pagination ul li span.current:after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -7px;
	width: 16px;
	height: 5px;
	background: #FF5C26;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.woocommerce ul.products li.product .onsale{
	width: 50px !important;
	height: 50px !important;
	background-color: #ff5c26 !important;
	margin:0 !important;
	right:12px !important;
	top: 1px !important;
	font-size: 14px;
	line-height: 40px;
}