



.woocommerce-page div.product div.summary {
    float: right;
    width: 51%;
    clear: none;
}

 .woocommerce-page div.product div.images{
    float: left;
    width: 45%;
}


.wccontent-wrapper.wcsingle{
	padding-top: 112px;
}
.wccontent-wrapper.wcsingle h1.product_title{
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #43587B;	
}
.wccontent-wrapper.wcsingle .wcprice{
	padding-bottom: 35px;
	position: relative;
}
.wccontent-wrapper.wcsingle .wcprice:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background:url(../images/dotted-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:52px; 
	height:9px;
}
.wccontent-wrapper.wcsingle .wcprice .price-prefix,
.woocommerce div.product span.price {
	font-weight: 300;
	font-size: 30px;
	line-height: 30px;
	color: #FF5C26;
}
.wccontent-wrapper.wcsingle .wcdetails {
    padding: 20px 0 30px;
    position: relative;
    height: 332px;
    overflow: hidden;
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.wccontent-wrapper.wcsingle .wcdetails.wcdetails-expand {
    height: 100%;
    overflow: hidden;
}
.wccontent-wrapper.wcsingle .wcdetails h2{
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	color: #43587B;
	margin-bottom: 20px;
}
.wccontent-wrapper.wcsingle .wcdetails ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 17px;
}
.wccontent-wrapper.wcsingle .wcdetails ul li{
	padding: 1px 10px 15px 25px;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #7B8CA8;
}
.wccontent-wrapper.wcsingle .wcdetails ul li::after {
    top: 6px;
}
.wccontent-wrapper.wcsingle .wcdetails .wcdetailsbtn{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 103px;
	background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) -18.59%, rgba(255, 255, 255, 0.94) 16.14%, #FFFFFF 87.82%);
	background: -ms-linear-gradient(180deg, rgba(255, 255, 255, 0) -18.59%, rgba(255, 255, 255, 0.94) 16.14%, #FFFFFF 87.82%);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) -18.59%, rgba(255, 255, 255, 0.94) 16.14%, #FFFFFF 87.82%);
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 28px;
	color: #6B7BB3;
	padding: 50px 0 10px;
}
.wccontent-wrapper.wcsingle .wcdetails.wcdetails-expand .wcdetailsbtn{
	position: static;
	height: 60px;
	padding: 20px 0 10px;
}
.wccontent-wrapper.wcsingle .wcdetails.wcdetails-expand .wcdetailsbtn{
	/*display: none*/
}
.wccontent-wrapper.wcsingle .wcdetails .wcdetailsbtn a{
	display: inline-block;
	vertical-align: baseline;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 28px;
	color: #6B7BB3;
	position: relative;
	padding-right: 20px;
}
.wccontent-wrapper.wcsingle .wcdetails .wcdetailsbtn a:first-child{
	display: inline-block;
}
.wccontent-wrapper.wcsingle .wcdetails .wcdetailsbtn a:last-child{
	display: none;
}
.wccontent-wrapper.wcsingle .wcdetails.wcdetails-expand .wcdetailsbtn a:first-child{
	display: none;
}
.wccontent-wrapper.wcsingle .wcdetails.wcdetails-expand .wcdetailsbtn a:last-child{
	display: inline-block;
}

.wccontent-wrapper.wcsingle .wcdetails .wcdetailsbtn a:after{
	content: "";
	position: absolute;
	right: 0;
	top: 5px;
	background:url(../images/wcdetailsbtn-inc.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:16px; 
	height:16px;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.wccontent-wrapper.wcsingle .wcdetails .wcdetailsbtn a:last-child:after{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.wccontent-wrapper.wcsingle .wcdetails .wcdetailsbtn a:last-child:hover:after{
	top: 2px;
}
.wccontent-wrapper.wcsingle .wcdetails .wcdetailsbtn a:hover:after{
	top:8px;
}

.woocommerce div.product div.summary {
    margin-bottom: 70px;
    margin-top: 5px;
}
.woocommerce-variation-price{
	display: none;
}







.woocommerce div.product form.cart {
    margin-bottom: 47px!important;
}

.wccontent-wrapper.wcsingle .variations_form{
	border-top: 3px solid #F4F7F9;
	border-bottom: 3px solid #F4F7F9;
	padding: 42px 0 55px
}
.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery{
	text-align: center;
	padding-top: 28px;
}
.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery a{
	display: inline-block;
	vertical-align: baseline;
	color: #02BEE8;
	padding: 0 30px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	text-transform: capitalize;
}
.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery a:after{
	content: "";
	position: absolute;
	right: 0;
	top: 4px;
	background:url(../images/view-gallery-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:14px; 
	height:14px;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery a:hover:after{
	top:7px;
}
.woocommerce div.product form.cart .button {
	background: #FF5C26;
	border-radius: 8px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	position: relative;
	padding: 18px 30px 18px 60px;
	opacity: 1;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.woocommerce div.product form.cart .button:hover {
	background: #6B7BB3
}
.woocommerce div.product form.cart .button:after {
	content: "";
	position: absolute;
	left: 30px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background:url(../images/nw-woo-cart-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:17px; 
	height:17px;	
}
.wccontent-wrapper.wcsingle .woocommerce span.onsale {
	display: none!important
}
.quantity-wrapper{
	position: relative;
	display: inline-block;
	padding-left: 10px;
}
.quantity{
	width: 70px;
	height: 52px;
	border-radius: 7px;
	background-color: #fff;
	position: relative;
	color: #333;
	background: #fff;
	border: 1px solid #ccc;
	padding: 0 11px;
}
.quantity-wrapper .plus,
.quantity-wrapper .minus{
	cursor: pointer;
	display: inline-block;
	vertical-align: baseline;
	color: #9f9f9f;
	font-size: 24px;
	line-height: 26px;
	position: absolute;
	z-index: 2;
	color: #7B8CA8;
	font-size: 17px;
	line-height: 19px;
	background: #F4F7F9;
	border-radius: 2px;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.quantity-wrapper .plus {
    right: 32px;
    top: 4px;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.quantity-wrapper .minus {
    right: 32px;
    bottom: 4px;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.quantity-wrapper .plus:hover,
.quantity-wrapper .minus:hover {
    opacity: .6
}
.quantity input[type="number"]{  
	width: 12px;
	border: none;
	background: transparent;
	-moz-appearance:textfield;
	appearance: none;
	opacity: 1;
	margin-top: 8px;
	text-align:left!important;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.2px;
	color: #7B8CA8;
}         
.quantity input[type=number]::-webkit-inner-spin-button, 
.quantity input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    opacity: 0;
}
.quantity-wrapper i.qnt-plus,
.quantity-wrapper i.qnt-minus{
	position: relative;
	height: 100%
}

.quantity-wrapper i.qnt-plus:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background:url(../images/qnt-plus.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:24px; 
	height:21px;
}

.quantity-wrapper i.qnt-minus:after{
	content: "";
	position: absolute;
	left: 0;
	bottom:0;
	background:url(../images/qnt-minus.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:24px; 
	height:21px;
}

.wcoptioanl{
	display: block;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.1px;
	color: #43587B;
}
.wcoptioanl:after,
.wcoptioanl:before{
	content: "";
	display: table;
	clear: both;
}
.custom_attribues_wrapper{
    margin-bottom: 30px;
}
.wccontent-wrapper.wcsingle .woocommerce-input-wrapper{
	width:33.333%;
	float: left;
	padding-top: 5px;
}
.wccontent-wrapper.wcsingle .woocommerce-input-wrapper > span{
	display: block;
	margin:0 auto;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	letter-spacing: -0.1px;
	color: #7B8CA8;
	margin-top: 8px;
}
.woocommerce-variation-add-to-cart input[type=radio]{
  display:none!important;
}
.woocommerce-variation-add-to-cart input[type=radio] + label{
	display:inline-block!important;
	margin:-2px!important;
	margin-bottom: 0!important;
	color: #000!important;
	text-align: center!important;
	vertical-align: middle!important;
	cursor: pointer!important;
	background-color: #fff!important;
	font-size: 14px!important;
	font-weight: 500!important;
	letter-spacing: 4.5px!important;
	border-radius: 0!important;
	border: 1px solid #DEE7ED!important;
	border-right: 0!important;
	padding: 6px 2px!important;
	height: 35px!important;
	width: 100% !important;
	line-height: 20px!important;
	text-align: center!important;
	letter-spacing: -0.1px!important;
	color: #43587B!important;
	letter-spacing: normal;

}
.woocommerce-variation-add-to-cart:first-child input[type=radio] + label{
	border-right: 1px solid #DEE7ED!important;
	border-radius: 4px 0 0 4px;
}
.woocommerce-variation-add-to-cart:last-child input[type=radio] + label{
	border-right: 1px solid #DEE7ED!important;
	border-radius: 0 4px 4px 0
}

.woocommerce-variation-add-to-cart input[type=radio]:checked + label{
  outline: 0!important;
  background: #6B7BB3!important;
  color: #fff!important;
  border: none!important;
}



.woo-variation-items-wrapper ul li:after{
	content: none;
}
.woo-variation-items-wrapper ul li{
	border-radius: 0!important;
}
.woo-variation-items-wrapper ul li:first-child{
	border-radius: 4px 0 0 4px!important;
}
.woo-variation-items-wrapper ul li:last-child{
	border-radius:0 4px 4px 0!important;
}
.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item) {
	background-color: #fff!important;
	box-shadow: none!important;
	padding: 23px 30px !important;
	margin: 0!important;
	margin-bottom: 15px!important;
	background: #fff!important;
	color: #43587B;
	border: 1px solid #DEE7ED!important;
}


.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, 
.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
    background: #6B7BB3!important;
    color:#fff;
}
.woocommerce div.product form.cart .variations tr{
	position: relative;
	padding-top: 40px;
}
.woocommerce div.product form.cart .variations td.label {
    color: #6B7BB3!important;
	position: absolute;
	top:0;
	left:0;
}
.woocommerce div.product form.cart .variations tbody:after,
.woocommerce div.product form.cart .variations tbody:before{
	content: "";
	display: table;
	clear: both;
}
.woocommerce div.product form.cart .variations td.label {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-weight: 600 !important;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.1px;
	color: #43587B !important;
	text-transform: capitalize;
}
.woocommerce div.product form.cart .variations label {
    font-weight: 600!important;
}
.woocommerce div.product form.cart .variations td{
    line-height: 0;
}
.woocommerce div.product form.cart .variations tr:nth-child(1){
    position: relative;
    padding-top: 37px;
    width: 50% !important;
    float: left;
}
.woocommerce div.product form.cart .variations tr:nth-child(2){
    position: relative;
    padding-top: 37px;
    width: 50% !important;
    float: left;
}
.woocommerce div.product form.cart .variations tr:first-child {
    padding-right: 15px;
}
.woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-squared .variable-items-wrapper .variable-item.button-variable-item .variable-item-span {
	padding: 0 5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.1px;
}
.wccontent-wrapper.wcsingle .gellery-wrapper h2{
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	color: #43587B;
	margin-bottom: 15px;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .video-inner{
	margin-bottom: 40px
}
.wccontent-wrapper.wcsingle .gellery-wrapper .gellery-inner{
	margin-bottom: 35px
}
.wccontent-wrapper.wcsingle .gellery-wrapper .gellery-inner img {
    width:100%;
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: -7px;
	margin-left: -7px;
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul:after,
.wccontent-wrapper.wcsingle .gellery-wrapper ul:before{
	content: "";
	display: table;
	clear: both;
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul li{
	width:33.333%;
	float: left;
	padding: 0;
	padding-right: 7px;
	padding-left: 7px;
	margin-bottom: 14px; 
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul li:nth-child(3n+1){
	clear: left;
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul li:after{
	content: none;
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul li a{
	display: inline-block;
	vertical-align: baseline;
	width:100%;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner{
	background: #FF5C26;
	box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
	color:#fff;
	padding: 40px 62px
}
.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner h3{
	font-weight: 600;
	font-size: 36px;
	margin-bottom: 15px;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner p{
	font-weight: 300;
	font-size: 30px;
	line-height: 30px;
	color: #FFFFFF;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
	text-transform: uppercase;
	background:#FF5C26;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 15px 20px;
	margin-top: 12px;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner a:hover{
	background: #fff;
	color:#FF5C26;
}
.singlePage-vdo-wrp{
	overflow: hidden;
}
.singlePage-vdo-wrp .img-zoom > img{
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.singlePage-vdo-wrp:hover .img-zoom > img{
	-ms-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	transform: scale(1.1);
}








@media(max-width: 1299px){
.woocommerce div.product form.cart .variations tr:nth-child(1){
    position: relative;
    padding-top: 37px;
    width: 100% !important;
    float: left;
}
.woocommerce div.product form.cart .variations tr:nth-child(2){
    position: relative;
    padding-top: 37px;
    width: 100% !important;
    float: right;
}

} 

@media(max-width: 1199px){
	.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner {
		padding: 30px;
	}

} 


@media(max-width: 991px){
	.wccontent-wrapper.wcsingle .gellery-wrapper ul li {
	    width: 50%;
	}
	.wccontent-wrapper.wcsingle .gellery-wrapper ul li:nth-child(3n+1) {
	    clear: initial;
	}
	.wccontent-wrapper.wcsingle .gellery-wrapper ul li:nth-child(2n+1) {
	    clear: left;
	}

}

@media(max-width: 767px){
	.woocommerce-page div.product div.images {
	    float: left;
	    width: 100%;
	}
	.woocommerce-page div.product div.summary {
	    float: left;
	    width: 100%;
	}
	.woocommerce div.product div.images {
	    margin-bottom: 12px;
	}
	.woocommerce div.product div.summary {
	    margin-bottom: 70px;
	    margin-top: 0;
	    padding-top: 25px;
	}
	.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery {
	    text-align: center;
	    padding-top: 17px;
	}
	.wccontent-wrapper.wcsingle .wcprice::after {
	    background: url(../images/dot-line.svg);
	    background-repeat: no-repeat;
	}
	.quantity {
	    width: 48px;
	    height: 50px;
	    border-radius: 4px;
	    padding: 0px 11px;
	}
	.quantity-wrapper .plus {
		right: -4px;
		top: 0;
	}
	.quantity-wrapper .minus {
	    right: -45px;
	    bottom: 0;
	}
	.quantity-wrapper i.qnt-plus::after {
	    background: url(../images/qnt-plus-xs.svg);
	    background-repeat: no-repeat;
	    width: 37px;
	    height: 50px;
	}
	.quantity-wrapper i.qnt-minus::after {
	    background: url(../images/qnt-minus-xs.svg);
	    background-repeat: no-repeat;
	    width: 37px;
	    height: 50px;
	}
	.wccontent-wrapper.wcsingle {
	    padding-top: 80px;
	}
}
 


@media(max-width: 639px){
	.wccontent-wrapper.wcsingle h1.product_title {
	    font-size: 30px;
	}
	.wccontent-wrapper.wcsingle .wcprice .price-prefix,
	.woocommerce div.product span.price {
	    font-size: 24px;
	    line-height: 30px;
	}
	.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner h3 {
	    font-size: 30px;
	    margin-bottom: 10px;
	}
	.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner p {
	    font-size: 24px;
	    line-height: 27px;
	}
}

@media(max-width: 575px){
	.wccontent-wrapper.wcsingle {
	    padding-top: 50px;
	}
}

@media(max-width: 479px){


}

@media(max-width: 369px){
	.quantity-wrapper .minus {
	    right: auto;
	    bottom: 0;
	    left: 105px;
	}
	.quantity-wrapper .plus {
	    right: auto;
	    top: 0;
	    left: 64px;
	}
	.quantity-wrapper {
	    margin-top: 20px;
	}
}

@media(max-width: 359px){

}













