

.wccontent-wrapper.wcsingle h1.product_title{
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #43587B;	
}
.wccontent-wrapper.wcsingle .wcprice{
	padding-bottom: 30px;
	position: relative;
}
.wccontent-wrapper.wcsingle .wcprice:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background:url(../images/dotted-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:52px; 
	height:9px;
}
.wccontent-wrapper.wcsingle .wcprice .price-prefix,
.woocommerce div.product span.price {
	font-weight: 300;
	font-size: 30px;
	line-height: 36px;
	color: #FF5C26;
}
.wccontent-wrapper.wcsingle .wcdetails{
	padding: 20px 0 30px;
}
.wccontent-wrapper.wcsingle .wcdetails h2{
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	color: #43587B;
}
.wccontent-wrapper.wcsingle .variations_form{
	border-top: 3px solid #F4F7F9;
	border-bottom: 3px solid #F4F7F9;
	padding: 40px 0 55px
}
.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery{
	text-align: center;
	padding-top: 28px;
}
.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery a{
	display: inline-block;
	vertical-align: baseline;
	color: #02BEE8;
	padding: 0 30px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	text-transform: capitalize;
}
.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery a:after{
	content: "";
	position: absolute;
	right: 0;
	top: 4px;
	background:url(../images/view-gallery-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:14px; 
	height:14px;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery a:hover:after{
	top:7px;
}
.woocommerce div.product form.cart .button {
	background: #FF5C26;
	border-radius: 8px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	position: relative;
	padding: 15px 30px 15px 60px;
	opacity: 1;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.woocommerce div.product form.cart .button:hover {
	background: #43587B
}
.woocommerce div.product form.cart .button:after {
	content: "";
	position: absolute;
	left: 30px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background:url(../images/nw-woo-cart-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:17px; 
	height:17px;	
}

.wccontent-wrapper.wcsingle .woocommerce span.onsale {
	display: none!important
}


/*.pro-counter .qty{
  width: 70px;
  height: 40px;
  border-radius: 7px;
  background-color: #fff;
  position: relative;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}
.pro-counter .qty .plus,
.pro-counter .qty .minus{
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #9f9f9f;
  font-size: 24px;
  line-height: 26px;
  position: absolute;
  z-index: 2;
  color: #A40C0C;
}
.pro-counter .qty .plus {
    right: -20px;
    top: 0px;
    font-size: 22px;
    line-height: 22px;
}
.pro-counter .qty .minus {
    right: -20px;
    bottom: 0px;
    font-size: 22px;
    line-height: 22px;
}
.quantity input[type="number"]{  
  width: 12px;
  border: none;
  background: transparent;
  -moz-appearance:textfield;
  appearance: none;
  letter-spacing: 0.6px;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  opacity: 1;
  font-weight: 700;
  margin-top: 8px;
  width: 67px;
  text-align:center;
}         
.quantity input[type=number]::-webkit-inner-spin-button, 
.quantity input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    opacity: 0;
}
.pro-counter .qty i.fa{
  margin-top: 0
}
*/


.woocommerce div.product form.cart .variations td.label {
    display: none;
}


/*.woocommerce div.product form.cart .variations td.label {
    padding-right: 0;
}*/
.woo-variation-items-wrapper ul li:after{
	content: none;
}
.woo-variation-items-wrapper ul li{
	border-radius: 0!important;
}
.woo-variation-items-wrapper ul li:first-child{
	border-radius: 4px 0 0 4px!important;
}
.woo-variation-items-wrapper ul li:last-child{
	border-radius:0 4px 4px 0!important;
}
.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item) {
	background-color: #fff!important;
	box-shadow: none!important;
	padding: 23px 30px !important;
	margin: 0!important;
	margin-bottom: 15px!important;
	background: #6B7BB3!important;
	color: #fff;
}













































.wccontent-wrapper.wcsingle .gellery-wrapper h2{
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	color: #43587B;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .video-inner{
	margin-bottom: 40px
}
.wccontent-wrapper.wcsingle .gellery-wrapper .gellery-inner{
	margin-bottom: 40px
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: -15px;
	margin-left: -15px;
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul:after,
.wccontent-wrapper.wcsingle .gellery-wrapper ul:before{
	content: "";
	display: table;
	clear: both;
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul li{
	width:33.333%;
	float: left;
	padding:0 15px;
	margin-bottom: 15px; 
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul li:nth-child(3n+1){
	clear: left;
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul li:after{
	content: none;
}

.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner{
	background: #FF5C26;
	box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
	color:#fff;
	padding: 40px 62px
}

.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner h3{
	font-weight: 600;
	font-size: 36px;
	line-height: 24px;
	margin-bottom: 15px;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner p{
	font-weight: 300;
	font-size: 30px;
	line-height: 30px;
	color: #FFFFFF;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
	text-transform: uppercase;
	background:#FF5C26;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 15px 20px;
	margin-top: 12px;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner a:hover{
	background: #fff;
	color:#FF5C26;
}



























