
.wccontent-wrapper.wcsingle{
	padding-top: 112px;
}
.wccontent-wrapper.wcsingle h1.product_title{
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #43587B;	
}
.wccontent-wrapper.wcsingle .wcprice{
	padding-bottom: 30px;
	position: relative;
}
.wccontent-wrapper.wcsingle .wcprice:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background:url(../images/dotted-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:52px; 
	height:9px;
}
.wccontent-wrapper.wcsingle .wcprice .price-prefix,
.woocommerce div.product span.price {
	font-weight: 300;
	font-size: 30px;
	line-height: 36px;
	color: #FF5C26;
}
.wccontent-wrapper.wcsingle .wcdetails {
    padding: 20px 0 30px;
    position: relative;
    height: 306px;
    overflow: hidden;
    transition: all .3s
}
.wccontent-wrapper.wcsingle .wcdetails.wcdetails-expand {
    height: 100%;
    overflow: hidden;
}
.wccontent-wrapper.wcsingle .wcdetails h2{
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	color: #43587B;
}
.wccontent-wrapper.wcsingle .wcdetails ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-bottom: 0;
}
.wccontent-wrapper.wcsingle .wcdetails ul li::after {
    top: 6px;
}
.wccontent-wrapper.wcsingle .wcdetails .wcdetailsbtn{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 103px;
	background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) -18.59%, rgba(255, 255, 255, 0.94) 16.14%, #FFFFFF 87.82%);
	background: -ms-linear-gradient(180deg, rgba(255, 255, 255, 0) -18.59%, rgba(255, 255, 255, 0.94) 16.14%, #FFFFFF 87.82%);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) -18.59%, rgba(255, 255, 255, 0.94) 16.14%, #FFFFFF 87.82%);
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 28px;
	color: #6B7BB3;
	padding: 50px 0 10px;
}
.wccontent-wrapper.wcsingle .wcdetails.wcdetails-expand .wcdetailsbtn{
	/*display: none*/
}
.wccontent-wrapper.wcsingle .wcdetails .wcdetailsbtn a{
	display: inline-block;
	vertical-align: baseline;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 28px;
	color: #6B7BB3;
	position: relative;
	padding-right: 20px;
}
.wccontent-wrapper.wcsingle .wcdetails .wcdetailsbtn a:after{
	content: "";
	position: absolute;
	right: 0;
	top: 5px;
	background:url(../images/wcdetailsbtn-inc.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:16px; 
	height:16px;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.wccontent-wrapper.wcsingle .wcdetails .wcdetailsbtn a:hover:after{
	top:10px;
}

.woocommerce div.product div.summary {
    margin-bottom: 18px;
    margin-top: 5px;
}
.woocommerce-variation-price{
	display: none;
}







.wccontent-wrapper.wcsingle .variations_form{
	border-top: 3px solid #F4F7F9;
	border-bottom: 3px solid #F4F7F9;
	padding: 40px 0 55px
}
.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery{
	text-align: center;
	padding-top: 28px;
}
.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery a{
	display: inline-block;
	vertical-align: baseline;
	color: #02BEE8;
	padding: 0 30px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	text-transform: capitalize;
}
.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery a:after{
	content: "";
	position: absolute;
	right: 0;
	top: 4px;
	background:url(../images/view-gallery-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:14px; 
	height:14px;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.wccontent-wrapper.wcsingle .woocommerce-product-gallery .view-gallery a:hover:after{
	top:7px;
}
.woocommerce div.product form.cart .button {
	background: #FF5C26;
	border-radius: 8px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	position: relative;
	padding: 15px 30px 15px 60px;
	opacity: 1;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.woocommerce div.product form.cart .button:hover {
	background: #43587B
}
.woocommerce div.product form.cart .button:after {
	content: "";
	position: absolute;
	left: 30px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background:url(../images/nw-woo-cart-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:17px; 
	height:17px;	
}

.wccontent-wrapper.wcsingle .woocommerce span.onsale {
	display: none!important
}


.quantity-wrapper{
  position: relative;
  display: inline-block;
  padding-left: 10px;
}
.quantity{
	width: 70px;
	height: 50px;
	border-radius: 7px;
	background-color: #fff;
	position: relative;
	color: #333;
	background: #fff;
	border: 1px solid #ccc;
	padding: 0 11px;
}
.quantity-wrapper .plus,
.quantity-wrapper .minus{
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	color: #9f9f9f;
	font-size: 24px;
	line-height: 26px;
	position: absolute;
	z-index: 2;
	color: #7B8CA8;
	font-size: 17px;
	line-height: 19px;
	background: #F4F7F9;
	border-radius: 2px;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.quantity-wrapper .plus {
    right: 16px;
    top: 2px;
}
.quantity-wrapper .minus {
    right: 16px;
    bottom: 2px;
}
.quantity-wrapper .plus:hover,
.quantity-wrapper .minus:hover {
    color:#FF5C26;
}
.quantity input[type="number"]{  
	width: 12px;
	border: none;
	background: transparent;
	-moz-appearance:textfield;
	appearance: none;
	opacity: 1;
	margin-top: 8px;
	text-align:left!important;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.2px;
	color: #7B8CA8;
}         
.quantity input[type=number]::-webkit-inner-spin-button, 
.quantity input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    opacity: 0;
}
.quantity-wrapper i.fa{
	margin-top: 0
}

/*
.woocommerce-input-wrapper{
	display: inline-block!important;
}*/
/*.woocommerce-input-wrapper input[type=radio]{
	display:none!important;
}

.woocommerce-input-wrapper input[type=radio] + label{
	display:inline-block!important;
	margin:-2px!important;
	margin-bottom: 0!important;
	color: #43587B!important;
	text-align: center!important;
	vertical-align: middle!important;
	cursor: pointer!important;
	background: #fff!important;
	text-transform: uppercase!important;
	font-size: 15px!important;
	font-weight: 500!important;
	font-size: 14px!important;
	line-height: 20px!important;
	letter-spacing: -0.1px!important;
	line-height: 40px!important;
	padding: 4px 8px!important;
	width: 100px!important;
	height: 50px!important;
	border: 1px solid #DEE7ED!important;
	box-sizing: border-box!important;
	border-radius: 4px!important;
}
.woocommerce-input-wrapper input[type=radio]:checked + label{
	outline: 0!important;
	background: #6B7BB3!important;
	color: #fff!important;
	border: none!important;
}

.woocommerce-input-wrapper span{

}
*/



.woocommerce-variation-add-to-cart input[type=radio]{
  display:none!important;
}
.woocommerce-variation-add-to-cart input[type=radio] + label{
  display:inline-block!important;
  margin:-2px!important;
  margin-bottom: 0!important;
  color: #000!important;
  text-align: center!important;
  vertical-align: middle!important;
  cursor: pointer!important;
  background-color: #fff!important;
  text-transform: uppercase!important;
  font-size: 15px!important;
  font-weight: 500!important;
  letter-spacing: 4.5px!important;
  border-radius: 0!important;
  border: 1px solid #000!important;
  line-height: 40px!important;
  padding: 4px 12px!important;
  width: 44px!important;
  height: 50px!important;
}
.woocommerce-variation-add-to-cart input[type=radio]:checked + label{
  outline: 0!important;
  background-color:#b3b3b3!important;
  color: #fff!important;
  border: none!important;
}





























.woo-variation-items-wrapper ul li:after{
	content: none;
}
.woo-variation-items-wrapper ul li{
	border-radius: 0!important;
}
.woo-variation-items-wrapper ul li:first-child{
	border-radius: 4px 0 0 4px!important;
}
.woo-variation-items-wrapper ul li:last-child{
	border-radius:0 4px 4px 0!important;
}
.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item) {
	background-color: #fff!important;
	box-shadow: none!important;
	padding: 23px 30px !important;
	margin: 0!important;
	margin-bottom: 15px!important;
	background: #fff!important;
	color: #43587B;
	border: 1px solid #DEE7ED!important;
}


.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, 
.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
    background: #6B7BB3!important;
    color:#fff;
}


.woocommerce div.product form.cart .variations tr{
	position: relative;
	padding-top: 40px;
}

.woocommerce div.product form.cart .variations td.label {
    color: #6B7BB3!important;
	position: absolute;
	top:0;
	left:0;
}

.woocommerce div.product form.cart .variations tbody:after,
.woocommerce div.product form.cart .variations tbody:before{
	content: "";
	display: table;
	clear: both;
}
.woocommerce div.product form.cart .variations td.label {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.1px;
	color: #43587B !important;
	text-transform: capitalize;
}
.woocommerce div.product form.cart .variations tr{
    position: relative;
    padding-top: 40px;
    width: 50% !important;
    float: left;
}
.woocommerce div.product form.cart .variations tr:first-child {
    padding-right: 15px;
}
.woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-squared .variable-items-wrapper .variable-item.button-variable-item .variable-item-span {
	padding: 0 5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.1px;
}











.wccontent-wrapper.wcsingle .gellery-wrapper h2{
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	color: #43587B;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .video-inner{
	margin-bottom: 40px
}
.wccontent-wrapper.wcsingle .gellery-wrapper .gellery-inner{
	margin-bottom: 40px
}
.wccontent-wrapper.wcsingle .gellery-wrapper .gellery-inner img {
    width:100%;
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: -7px;
	margin-left: -7px;
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul:after,
.wccontent-wrapper.wcsingle .gellery-wrapper ul:before{
	content: "";
	display: table;
	clear: both;
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul li{
	width:33.333%;
	float: left;
	padding-right: 7px;
	padding-left: 7px;
	margin-bottom: 14px; 
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul li:nth-child(3n+1){
	clear: left;
}
.wccontent-wrapper.wcsingle .gellery-wrapper ul li:after{
	content: none;
}

.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner{
	background: #FF5C26;
	box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
	color:#fff;
	padding: 40px 62px
}

.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner h3{
	font-weight: 600;
	font-size: 36px;
	line-height: 24px;
	margin-bottom: 15px;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner p{
	font-weight: 300;
	font-size: 30px;
	line-height: 30px;
	color: #FFFFFF;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
	text-transform: uppercase;
	background:#FF5C26;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 15px 20px;
	margin-top: 12px;
}
.wccontent-wrapper.wcsingle .gellery-wrapper .requestoffer-inner a:hover{
	background: #fff;
	color:#FF5C26;
}



























