#wccart-wrapper #respond input#submit.alt, 
#wccart-wrapper a.button.alt, 
#wccart-wrapper button.button.alt, 
#wccart-wrapper input.button.alt,
#wccart-wrapper .coupon .button{
	background: #FF5C26!important;
	color: #fff!important;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
}
#wccart-wrapper #respond input#submit.alt:hover, 
#wccart-wrapper a.button.alt:hover, 
#wccart-wrapper button.button.alt:hover, 
#wccart-wrapper input.button.alt:hover,
#wccart-wrapper .coupon .button:hover{
	background: #e7440e!important;
}
#wccart-wrapper .coupon button.button{
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	min-height: 52px;
	min-width: 180px;
}
.woocommerce-error{
	border-top-color: #FF5C26;
}
#shipping_method li:after,
.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper li:after{
	content: none;
}
.xoo-cp-btns a.xoo-cp-btn-ch{
	display: none!important;
}
#wccart-wrapper #coupon_code{
	min-height: 52px;
	width: 180px;
	margin-right: 20px;
	border: 2px solid #7B8CA8;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #7B8CA8!important;

}


input#coupon_code::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7B8CA8!important;
}
input#coupon_code::-moz-placeholder { /* Firefox 19+ */
  color: #7B8CA8!important;
}
input#coupon_code:-ms-input-placeholder { /* IE 10+ */
  color: #7B8CA8!important;
}
input#coupon_code:-moz-placeholder { /* Firefox 18- */
  color: #7B8CA8!important;
}

.xoo-cp-container{
	max-width: 672px;
	background: #F4F7F9;
	box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
	-ms-box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
	-webkit-box-shadow: 0px 0px 26px rgba(67, 88, 123, 0.07);
}
.xoo-cp-pdetails td.xoo-cp-ptitle{
	padding-bottom: 30px;
}
table.xoo-cp-pdetails{
	padding-bottom: 10px;
}
.xoo-cp-modal .xoo-cp-btns,
.xoo-cp-modal .xoo-cp-pdetails  .xoo-cp-ptitle{
	padding-left: 115px!important;
	padding-right: 115px!important;
}
.xoo-cp-modal .xoo-cp-variations .variation dt{
	font-weight: 400;
	color: #7B8CA8;
	font-size: 16px;
	line-height: 16px;
}
.xoo-cp-atcn.xoo-cp-success{
	overflow: initial;
	padding-left: 15px;
	padding-right: 15px;
}
a.xcp-btn.xoo-cp-close:hover{
	background: #e53d05;
}
a.xoo-cp-btn-vc.xcp-btn:hover{
	opacity: .7;
}
.woocommerce-message,
.woocommerce-info {
    border-top-color: #FF5C26;
}
.woocommerce-message::before,
.woocommerce-info::before{
	color: #FF5C26;
}
.cartpopup-variations .xoo-cp-variations .variation:last-of-type,
.cartpopup-variations .xoo-cp-variations .variation dd{
	display: block;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button{
	background: #FF5C26;
	color: #fff;
}

@media(max-width: 1199px){

} 


@media(max-width: 991px){

}


@media(max-width: 767px){

	.xoo-cp-modal .xoo-cp-btns, .xoo-cp-modal .xoo-cp-pdetails .xoo-cp-ptitle {
	    padding-left: 25px!important;
	    padding-right: 25px!important;
	}

}
 


@media(max-width: 639px){

}



@media(max-width: 575px){


}


@media(max-width: 479px){
	.xoo-cp-atcn:after{
		left: 50px;
		right: 50px;
	}	
	.cartpopup-title{
		width: 100%;
		padding-left: 0;
	}
	.cartpopup-thumb{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.xoo-cp-modal .cartpopup-thumb a{
		max-width: 112px;
		margin: 0 auto;
	}
}



@media(max-width: 359px){

}